.title{
    color: blue;
}

.enviar{
background-color: rebeccapurple;
border: rebeccapurple;
}


body{
    background-color: antiquewhite;
}

.imagem{
      align-items: center;   
}

